<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/cafeteria.css">
    <title>Document</title>
</head>
<body>
    <h1 style="font: size 45px;">Flash Coffee</h1>
    <br>
    <img src="../cafe2.jpg" alt="cafeteria" width="300" height="200"> <br>
    <br>
    <br>
    <p style="font-size:25px;"><strong>Bienvenidos a Flash Coffee, la cafetería más rápida de la ciudad</strong></p>
    <hr style="border: 2px solid black;">
    
    <div>

    <h2 style="font-size:30px"><strong>Cafe expreso: $100</strong></h2>
    <p>Cafe de sabor intenso, elaborado con granos 50% colombianos y 50% brasileros</p>
    <br>
    <h2 style="font-size:30x"><strong>Cafe doble:$150</strong></h2>
    <p>Cafe de sabor intenso, elaborado con granos 50% colombianos y 50% brasileros</p>
    <br>
    <h2 style="font-size:30px"><strong>Cafe flash:$170</strong></h2>
    <p>Cafe sabor intenso y aroma frutal, elaborados con 3 variedades de granos colombianos, arabicos y brasilero</p>
    <br>
    <h2 style="font-size:30px"><strong>Cafe mocha:$170</strong></h2>
    <p>Cafe de sabor muy suave, nuestro mocha cuenta con 1/3 de expreso y 2/3 de leche vaporizada</p>
    <br>
    <h2 style="font-size:30px"><strong>Cappuccino:$180</strong></h2>
    <p>Un cafe clasico italiano, expreso chocolate y leche vaporizada</p>

    </div>
    
    <br>

    <h3 style="font-size:30px"><strong>Realiza tu pedido ACA</strong></h3>
    <a href="../templates/pedidos.html" title="Pedidos" target="_blank">>>> Hace tu pedido <<< </a> 

</body>
</html>