<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/pedidos.css">
    <title>Pedidos</title>
</head>
<body>
   

<main>
    
    <h1>
        Para realizar tu pedido, contactanos por cualquiera de los siguientes medios:
    </h1>

    <nav>
        <div> 
            <ul class="contactos">
                <li><a href="https://www.instagram.com/tu_usuario_de_instagram"><img src="../insta.png" alt="Instagram" width="50" height="50"></a></li>
                <li><a href="https://wa.me/tunumerodetelefono"><img src="../app.webp" alt="WhatsApp" width="70" height="70"></a></li>
                <li><a href="https://www.facebook.com/tu_pagina_de_facebook"><img src="../Facebook_icon.svg.png" alt="Facebook" width="50" height="50"></a></li>
            </ul>
        </div>
        </nav>
       
        <h2>
            <strong>¡Gracias por elegirnos!</strong>
        </h2>
        
        <div id="gif">
            <img src="../cafemoviendose.gif" alt="cafe" width="600" height="400">
        </div>

    
</main>

</body>
</html>